body {
  width: 22rem;
  margin: 2rem;
}

body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 1.75rem;
}

body {
  gap: 1.5rem;
}

header {
  gap: 0.5rem;
}

main {
  gap: 1rem;
  width: 100%;
}

main > .toggle {
  align-items: center;
  gap: 0.5rem;
}

#logo-dark, #logo-light {
  width: 100px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 0.5rem;
}

table td:last-of-type {
  text-align: right;
}

table tr:not(:last-of-type) > td {
  border-bottom: 1px solid var(--dark-color);
}

#will-confirm {
  padding-top: 0;
  padding-bottom: 0;
}

#will-confirm > span {
  width: auto;
  height: 1.5em;
  aspect-ratio: 1 / 1;
  display: inline-block;
  position: relative;
}

#will-confirm > span:before,
#will-confirm > span:after {
  content: "";
  display: block;
}

#will-confirm.true > span:after {
  width: 30%;
  height: 60%;
  margin-top: 3%;
  margin-left: 28%;
  border-style: solid;
  border-color: var(--toggle-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#will-confirm.false > span:before {
  position: absolute;
  width: 85%;
  height: 3px;
  top: 50%;
  left: 50%;
  background-color: var(--error-color);
  transform: translate(-50%, -50%) rotate(45deg);
}

#will-confirm.false > span:after {
  position: absolute;
  width: 85%;
  height: 3px;
  top: 50%;
  left: 50%;
  background-color: var(--error-color);
  transform: translate(-50%, -50%) rotate(-45deg);
}