:root {
  --light-color: #F9EBBB;
  --light-hover: #FFF;
  --dark-color: #503016;
  --dark-hover: #724623;
  --trim-color: #E79915;
  --link-color: #2FA1A2;
  --toggle-color: #56A22F;
  --ease-out-func: cubic-bezier(0, 0.55, 0.45, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-color: #503016;
    --light-hover: #724623;
    --dark-color: #F9EBBB;
    --dark-hover: #FFF;
    --trim-color: #E79915;
    --link-color: #2FA1A2;
    --toggle-color: #56A22F;
    --ease-out-func: cubic-bezier(0, 0.55, 0.45, 1);
  }
}

html {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Links */

a {
  color: var(--link-color);
  font-weight: 700;
}

/* Toggle Switches */

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle > input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle > label {
  display: block;
  position: relative;
  width: 3rem;
  height: 1.5rem;
  border-radius: 9999rem;
  border-width: 3px;
  border-style: solid;
  border-color: var(--dark-color);
  background-color: var(--dark-color);
  transition-duration: 125ms;
  transition-timing-function: var(--ease-out-func);
}

.toggle > label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: var(--light-color);
  transition-duration: 125ms;
  transition-timing-function: var(--ease-out-func);
}

.toggle > input:checked + label {
  background-color: var(--toggle-color);
  border-color: var(--toggle-color);
}

.toggle > input:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}

/* Buttons */

button {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 9999rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: medium;
  transition-duration: 66ms;
  transition-timing-function: var(--ease-out-func);
}

button:hover {
  background-color: var(--dark-hover);
}

button .arrow {
  display: inline-block;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 6px;
  margin-right: 3px;
}