body {
  margin: 2rem;
}

body, footer, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

body {
  gap: 1.5rem;
}

footer {
  gap: 0.5rem;
}

main {
  gap: 1rem;
}

#logo-dark, #logo-light {
  width: 128px;
}