body {
  margin: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, footer, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

body > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

footer > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

main > *:not(:last-child) {
  margin-bottom: 1rem;
}

#logo {
  width: 128px;
}

#links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#links > *:not(:last-child) {
  margin-right: 1rem;
}