html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 4rem;
  gap: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 20rem;
  max-width: 40rem;
}

header h1 {
  margin: 0;
}

header img {
  width: 200px;
}

header button {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  gap: 0.5rem;
}

main, section {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
}

main {
  gap: 2.5rem;
}

section {
  gap: 1rem;
}

section > * {
  margin-bottom: 1rem;
}

.subsection > * {
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0.5rem 0;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.5rem;
}

#interval {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.time-type {
  width: 6rem;
  font-size: 16px;
}

#timesync {
  font-size: 16px;
}

#datatype-select > .checkbox-grid {
  margin-top: 0.5rem;
}

#hostnames-list > li > input {
  height: 100%;
  width: 20rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  html {
    display: initial;
  }

  body {
    margin: 0;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  header {
    width: 100%;
  }

  header img {
    width: 100px;
  }

  .button-row.responsive {
    flex-direction: column;
  }
  
  .button-column.responsive {
    flex-direction: row;
  }
}