html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20rem;
  gap: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header h1 {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  gap: 0.5rem;
}

main, section {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

main {
  gap: 1rem;
}

section {
  gap: 0.5rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-row > * {
  width: 100%;
}